body {
  background-image: url("./images/daysmall2.jpg");
  font-family: "Questrial";
  text-align: center;
}
.app-body {
  max-width: 50%;
  margin: 100px auto 10px;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  padding: 30px;
  border-radius: 20px;
}
.author a {
  text-decoration: none;
  color: navy;
}
