.app-body {
  max-width: 55%;
  margin: 100px auto 10px;
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  padding: 30px 35px;
  border-radius: 20px;
}
.author a {
  color: navy;
}

.navbar {
  padding: 0;
  margin-bottom: 20px;
}
.search-form {
  display: flex;
}

.form-control {
  background-color: transparent;
}
.form-control,
.search-btn {
  padding: 6px 10px;
  margin-right: 10px;
}
.search-btn {
  width: 180px;
}

h1,
h4,
.temp-now {
  text-align: center;
  color: white;
}

h1 {
  font-size: 45px;
  font-weight: 800;
  margin-bottom: 0;
}

.temp-now {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature-now-span {
  font-size: 55px;
}

.temperature-now-span .units {
  font-size: 40px;
  position: relative;
  top: -9px;
}

h4 {
  margin: 0;
  text-transform: capitalize;
}

#weather-description {
  text-transform: capitalize;
  opacity: 0.8;
  max-height: 20px;
}

.weather-today {
  text-align: center;
  color: white;
  font-size: 18px;
}
.time-updated {
  line-height: 1.3;
  width: 50%;
  background-color: rgba(37, 30, 127, 0.512);
  padding: 5px 10px;
  margin: 0 auto 10px;
  border-radius: 10px;
}
.updated-line {
  font-size: 15px;
  color: rgb(173, 192, 230);
  margin-bottom: 0;
}

.day-today,
.time-now {
  font-size: 22px;
}
.weather-info-box {
  display: flex;
  justify-content: center;
}
.weather-info-box .wind-box,
.weather-info-box .humidity-box,
.weather-info-box .feels-like-box {
  line-height: 1.6;
  width: 120px;
  background-color: rgba(37, 30, 127, 0.512);
  padding: 5px 10px;
  margin: 10px;
  border-radius: 10px;
}
.weather-today .wind-data,
.weather-today .humidity-data,
.weather-today .feels-like-data {
  font-size: 30px;
}
